@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Dhurjati;
    src: url("/assets/font/Dhurjati-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    src: url("/assets/font/Oswald-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Whisper;
    src: url("assets/font/Whisper-Regular.ttf") format("truetype");
}

section {
    @apply border-2 border-black
}